<div class="row">
  <div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= form_for @user, url: {action: 'create', controller: 'sessions'}, class: 'form-horizontal' do |f| %>
          <h2 class="form-signin-heading">Please Enter a name</h2>
          <div class="row">
            <% if @user.errors.any? %>
                <div class="col-md-12">
                  <% @user.errors.full_messages.each do |error| %>
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <%= error %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
          <div class="form-group">
            <div class="row">
             <div class="col-md-12">
               <div class="col-md-4">
                 <%= f.label :username, class: 'control-label' %>
               </div>
               <div class="col-md-8">
                 <%= f.text_field :username, class: 'form-control' %>
               </div>
             </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="form-signin-heading">Select Language</h4>
            </div>
            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <%= radio_button_tag :type, 'yoda', "1", id: "yoda" %>
                  Yoda
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <%= radio_button_tag :type, "pirate", id: 'pirate' %>
                  Pirate
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <%= radio_button_tag :type, "binary", id: 'binary' %>
                  Binary
                </label>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <%= f.submit 'Login', class: "btn btn-lg btn-primary btn-block" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>